<!-- <div class="section__pic-container">
    <img src="static/assets/profile-pic-wajeeh.png" alt="Wajeeh Ul Hassan profile picture" />
  </div>
  <div class="section__text">
    <p class="section__text__p1">Hello, I'm</p>
    <h1 class="title">Wajeeh Ul Hassan</h1>
    <p class="section__text__p2">Senior Game Developer</p>
    <div class="btn-container">
      <button
        class="btn btn-color-2"
        onclick="window.open('static/assets/resume-example.pdf')"
      >
        Download CV
      </button> 
      <button class="btn btn-color-1" onclick="location.href='./#contact'">
        Contact Info
      </button>
    </div>
    
  </div> -->

  


<!-- home/templates/home/home_page.html -->
{% extends 'base.html' %}

{% block home_content %}
<div class="section__pic-container">
    <img src="{{ home_section.profile_picture.url }}" alt="{{ home_section.name }} profile picture" />
</div>
<div class="section__text">
    <p class="section__text__p1">Hello, I'm</p>
    <h1 class="title">{{ home_section.name }}</h1>
    <p class="section__text__p2">{{ home_section.title }}</p>
    <div class="btn-container">
        <!-- <button class="btn btn-color-2" onclick="window.open('{{ home_section.resume.url }}')">
            Download CV
        </button>
        <button class="btn btn-color-1" onclick="location.href='{{ home_section.contact_url }}'">
            Contact Info
        </button> -->
    </div>
</div>
{% endblock %}



{% block about_content %}
<p class="section__text__p1">Get To Know More</p>
<h1 class="title">About Me</h1>
<div class="section-container">
  <div class="section__pic-container">
    <img src="{{ about_section.profile_picture.url }}" alt="Profile picture" class="about-pic" />
  </div>
  <div class="about-details-container">
    <div class="about-containers">
      <div class="details-container">
        <img src="static/assets/experience.png" alt="Experience icon" class="icon" />
        <h3>Experience</h3>
        <p>{{ about_section.experience_text }}</p>
      </div>
      <div class="details-container">
        <img src="static/assets/education.png" alt="Education icon" class="icon" />
        <h3>Education</h3>
        <p>{{ about_section.education_text }}</p>
      </div>
    </div>
    <div class="text-container">
      <p>{{ about_section.about_text }}</p>
    </div>
  </div>
</div>
<img src="static/assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#experience'" />

{% endblock %}


{% block experience_section %}

<p class="section__text__p1">Explore My</p>
<h1 class="title">Expertise</h1>
<div class="experience-details-container">
    <div class="about-containers">
        {% for panel in experience_panels %}
        <div class="details-container">
            <h2 class="experience-sub-title">{{ panel.title }}</h2>
            <div class="article-container">
                {% for skill in panel.skills.all %}
                <article>
                    <img src="static/assets/checkmark.png" alt="Experience icon" class="icon" />
                    <div>
                        <h3>{{ skill.name }}</h3>
                        <!-- <p>{{ skill.level }}</p> -->
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<img src="static/assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#projects'" />

{%  endblock %}


{% block projects_section %}
<p class="section__text__p1">Browse My Recent</p>
<h1 class="title">Projects</h1>
<div class="experience-details-container">
    <div class="about-containers">
        {% for project in projects %}
        <div class="details-container color-container">
            <div class="article-container">
                <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-img" />
            </div>
            <h2 class="experience-sub-title project-title">{{ project.title }}</h2>
        
            <div class="btn-container">
                <!-- {% if project.github_link %}
                <button class="btn btn-color-2 project-btn" onclick="location.href='{{ project.github_link }}'">
                    Github
                </button>
                {% endif %} -->
                <button class="btn btn-color-2 project-btn" onclick="location.href='{{ project.live_demo_link }}'">
                    Live Demo
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<img src="static/assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#contact'" />    

{% endblock %}


{% block contact_section %}
<!-- <p class="section__text__p1">Get in Touch</p>
<h1 class="title">Contact Me</h1>
<div class="contact-info-upper-container">
    <div class="contact-info-container">
        <img src="static/assets/email.png" alt="Email icon" class="icon contact-icon email-icon" />
        <p><a href="mailto:{{ contact_info.email }}">{{ contact_info.email }}</a></p>
    </div>
    <div class="contact-info-container">
        <img src="static/assets/linkedin.png" alt="LinkedIn icon" class="icon contact-icon" />
        <p><a href="{{ contact_info.linkedin_url }}">LinkedIn</a></p>
    </div>
</div> -->
{% endblock %}